@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "work sans";
}

:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --dark-04: #a1a1a1;
  --dark-05: #d0d0d0;
  --dark-06: #e7e7e7;
  --dark-07: #f3f3f3;
  --primary-color: #ff900e;
  --secondary-color: #fff4e7;
}

/* shared styles */
.display-flex {
  display: flex;
}

/* header styles */
header {
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--dark-02);
  font-size: 1.1rem;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

/* banner related style */

.banner {
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.banner-content {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  font-size: 1rem;
  line-height: 26px;
  color: var(--dark-03);
}

.btn-primary {
  padding: 20px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  max-width: 180px;
  border: none;
  background-color: var(--primary-color);
  color: white;
}

.banner img {
  width: 100%;
}

/* main section style */
main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

/* team section style */
.team {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  flex-direction: column;
  gap: 24px;
  max-width: 530px;
}

.features-title {
  font-size: 3rem;
  font-weight: 800;
}

#list {
  color: var(--dark-03);
  font-weight: 500;
}

#feature {
  color: var(--primary-color);
}

.features-description {
  color: var(--dark-03);
}

/* facts section style */

.facts {
  flex-direction: column;
}
.facts-container {
  margin-top: 24px;
  gap: 24px;
}
.facts-title {
  font-size: 3rem;
  color: var(--dark-01);
}
.facts-description {
  font-size: 1.1rem;
  color: var(--dark-03);
  max-width: 550px;
  line-height: 26px;
}

.facts-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}

.fact-box {
  width: 240px;
  height: 240px;
  border: 1px solid var(--primary-color);
  padding: 45px 35px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

.fact-number {
  color: var(--dark-02);
  font-size: 3rem;
}

.fact-name {
  color: var(--dark-03);
  font-size: 1.2rem;
}

/* <<<<<<<<<<<   small screen style  >>>>>>>>>> */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .team {
    flex-direction: column;
  }

  /* team section style */

  .team-img-container {
    grid-template-columns: 1fr;
  }

  .our-features {
    justify-items: center;
    margin-left: 30px;
    margin-top: 2rem;
  }

  /* facts section style */

  .facts-container {
    margin: 0 1rem;
  }

  .facts-title {
    font-size: 2rem;
  }
  .facts-description {
    font-size: 0.8rem;
    max-width: 550px;
    line-height: 22px;
  }

  .facts-card {
    grid-template-columns: 1fr;
    margin-top: 20px;
    justify-items: center;
    gap: 2rem;
  }

  .fact-box {
    gap: 10px;
    border-radius: 8px;
  }
}

/* <<<<<<<<<<<   medium screen style  >>>>>>>>>> */

@media screen and (min-width: 576px) and (max-width: 992px) {
  /* team section style */
  .team {
    flex-direction: column;
  }

  .our-features {
    margin: 2rem auto;
  }

    /* facts section style */

  .facts-container {
    margin: 0 2rem;
  }

  .facts-title {
    font-size: 3rem;
  }
  .facts-description {
    font-size: 1rem;
    line-height: 22px;
  }

  .facts-card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    justify-items: center;
    gap: 2rem;
  }

}
